*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*clearfix*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/******************
===Base Styles====
*******************/

button {
  cursor: pointer;
}

h1{
  text-transform: uppercase;
  font-size: min(15vw,3rem);
  text-align: center;
  margin-top: .25rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

h2 {
  /* margin-top: 1rem; */
  font-size: 2rem;
  display: inline-block;
  margin-bottom: .25rem;
}

h3 {
  font-size: min(5vw,1.3rem);
  /* text-align: center; */
}

.in-progress h3 {
  display: inline-block;
}

h4 {
  font-size: 1.3rem;
  text-decoration: underline;
  margin-bottom: .5rem;
}

html {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  /* background-color: #9869ff; */
  /* background-color: rgb(60, 70, 87); */
  background-color: rgb(160, 182, 219);
  color: rgb(41,41,41);
}

.author {
  font-style: italic;
}

.see-all a{
  color: rgb(41,41,41);
  font-size: .75rem;
  text-decoration: underline;
}

.main {
  overflow: hidden;
}

/************
===Layout====
*************/

/***********
Flex classes
************/

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-xy-center {
  justify-content: center;
  align-items: center;
}

.flex-spread {
  justify-content: space-between;
}

.flex-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.readable-width {
  max-width: 1300px;

}

/***********
Grid classes
************/

.grid-container {
  display: grid;
}

.grid-5w {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/*************
Side info panel
***************/

/**Info Button Styling**/
.info-button {
  background-color: rgba(255,255, 255,.3);
  border: none;
  padding: 0 1rem .5rem 1rem;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 5px;
  position: absolute;
  top:1rem;
  left: 1rem;
  ouline: none;
  cursor: pointer;
}

.info-button:hover {
  background-color: rgba(255,255, 255,.5);
}

.info-button:active,
.info-button:focus{
  outline:none;
}

.info-button:active {
  box-shadow: inset 0 0 3px 0px rgba(0,0,0,.7);
}
/**End Info Button styling*/

/*Aside Styling*/
aside {
  color: white;
  background-color: rgb(43, 43, 43);
  width: min(30rem, 100%);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  transition: .3s;
  transform: translateX(-100%);
  overflow: hidden;
  z-index: 30;
  font-size: .9rem;
}

aside.reveal{
  transform: none;
}

aside > * {
  margin: 0 auto;
  width: min(90%, 25rem);
}

aside a {
  text-decoration: none;
  color: white;
}

aside h4 {
  font-size: 2rem;
  margin-top: 5vh;
  margin-bottom: .5rem;
}

aside h5 {
  font-size: 1.2rem;
}

aside h6 {
  font-size: 1rem;
}

aside h5,
aside h6{
  margin-top: 1rem;
  margin-bottom: .5rem;
}

aside .collab-button {
  width: 8rem;
  margin: 3rem auto 0 auto;
  text-align: center;
}

aside .hide-aside{
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
/*   background-color: rgba(0,0,0,0); */
  opacity: .3;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

aside .hide-aside:hover {
  opacity: 1;
}

aside .hide-aside:before,
aside .hide-aside:after{
  position: absolute;
  height: 2rem;
  background-color: white;
  width: 2px;
  content: ' ';
  left: 1rem;
}

aside .hide-aside:before {
  transform: rotate(45deg);
}

aside .hide-aside:after {
  transform: rotate(-45deg);
}

aside .hide-aside:hover {

  outline: none;
}

aside .hide-aside:active,
aside .hide-aside:focus {
  outline: none;
}

@media only screen and (max-width: 500px) {
  aside .hide-aside {
    top: .25rem;
    right: .25rem;
  }
}

aside .external-links {
  text-decoration: underline;

}

aside .portfolio-link {
  margin: 0 auto;
  text-align: center;
}

aside .portfolio-link{
  width: 8rem;
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 100;
  border: 1px solid white;
  text-align: center;
  padding: 1rem .5rem;
  background-color: rgb(43, 43, 43);
  color: white;
  cursor: pointer;
  box-shadow: none;
}

aside button.portfolio-link:hover {
  boxshadow: inset 0 0 1 3 white;
}

aside .profile-container {
  margin: 1rem auto;
  width: max(5rem, 30%);
}

aside .profile-container img {
  width: 100%;
  border-radius: 50%;
}

/*end Aside*/

/*Side info panel end*/




/******************
Custom Layout Below
*******************/

.aid-filters{
  margin-bottom: 1rem;
}

.in-progress {
  margin: .5rem;
}

.suggested-aid-container,
.suggested-aid {
  margin: 1rem .5rem 1.5rem .5rem;
}

.suggested-aid {
  margin-top: 1.5rem;
}

.payout-group {
  margin: 1rem;
}


table {
  border-spacing: 1rem;
  border-collapse: separate;
}

/************************
===Additional Styling====
*************************/
.main {
  background-color: rgba(255,255,255,.3);
  /* padding: 1rem min(3rem, 2vw); */
  border-radius: 1rem;
  position: relative;
  width: clamp(10rem, 100vw, 1200px);
  padding:  min(2rem, 5vw);

}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

img {
  width:100%;
}

.icon {
  width: 2rem;
}

.invisible {
  visibility: hidden;
}




.display .vibeDisplay {
  /* height: 100%; */
  object-fit: cover;

  transition: opacity .4s 1.3s ease, transform .7s 1s ease;
  transform: translateY(100%);
  opacity: 0;
  margin: 1rem min(5rem, 5vw);
  display: relative;
  flex: 1 1 50%;
}

.display.vibe .vibeDisplay {
  opacity: 1;
  transform: translateY(0);
}

.display {
  background: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top:0;
  left: 0;
  transition: all .8s .85s ease;
  opacity: 0;
  border-radius: 1rem;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
}
/* 201, 201, 201 */
.display.vibe {
  z-index: 1;
  background: linear-gradient(40deg, rgb(255, 232, 207) 60%, rgb(255, 185, 195));
  /* background-color: rgb(255, 232, 207); */
  opacity: 1;
  user-select: none;
}

.display .tree {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  object-fit: contain;
  width: 100%;
}

.list-container {
  width: 100%;
}

.menu {
  /* margin-bottom: 1rem; */
  display: flex;
  position: relative;
  /* flex-direction: column; */
  align-items: flex-start;
  margin-top: .5rem;

  padding: 1.25rem .25rem;
  width: 100%;
  transition: all .4s 1.8s ease;
  background-color: rgba(100,100,100,1);
  /* border-radius: .5rem .5rem 0 0; */
  transform: translateY(100%);
  user-select: none;
  z-index: 3;
}

.display.vibe .menu {
  transform: translateY(0%);
}

li + li{
  margin-right: .25rem;
}

.display .menu-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transform: translateY(200%);
}

.display .menu1 {
  transition: .4s 2.1s cubic-bezier(.42,.87,.63,1.3);
}

.display .menu2 {
  transition: .4s 2.3s cubic-bezier(.42,.87,.63,1.3);
}

.display .menu3 {
  transition: .4s 2.5s cubic-bezier(.42,.87,.63,1.3);
}

.display.vibe .menu-button {
  transform: translateY(0);
}

.menu > * + * {
  margin-left: 1rem;
}

.menu > * {
  width: 48px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.menu3 {
  width: 48px;
}

.menu2 {
  position: relative;
}

.menu2 .notice {
  position: absolute;
  top:0;
  opacity: 0;
  transition: top .4s ease, opacity 1s ease;
  left: -10px;
  width: 70px;
  z-index: -20;
  user-select: all;
}

.menu2:hover .notice,
.menu2:focus .notice,
.menu2:active .notice,
.menu2.press .notice {
  top:-3rem;
  opacity: 1;
}





.your-vibe {
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
}



.response-container {
  position: absolute;
  top: 3rem;
  width: 100%;
}

.display .response {
  font-size: min(30vw,10rem);
  font-family: 'Raleway';
  color: rgb(100,100,100);
  transition: all .8s 2.2s ease;
  opacity: 0;
  transform: translateY(-100%);
}

.display.vibe .response {
  opacity: 1;
  transform: translateY(0);
}

.display .response-detail {
  position: relative;
  top: 2rem;
  color: rgb(41,41,41);
  transition: all .4s 3s ease-in-out;
  transform: translateY(-200%);
  opacity: 0;
}

.display.vibe .response-detail {
  opacity: 1;
  transform: translateY(0);
}

.vibe-select {
  width: 2.5rem;
}

.vibeDisplay .response-container{
  transition: transform .4s ease-out;
  transform: translateY(0%);
}

.vibeDisplay {
  cursor: pointer;
}

.vibeDisplay:hover .response-container{

  transform: translateY(-3rem);
}

@media only screen and (max-width: 500px){
  .main, .display{
    height: 100vh;
    border-radius: 0;
  }

  .your-vibe {
    flex-direction: column;
    align-items: center;

  }

  .your-vibe button {
    /* border-radius: 0; */
  }

  .your-vibe li{
    margin-bottom: 0rem;
  }

  li+li{
    margin-left: 0;
    margin-right: 0;
  }

  .vibeDisplay:hover .response-container{

    transform: translateY(1rem);
  }
}

/************************
=======Components========
*************************/

.primary-button {
  background-color: rgb(255, 230, 234);
  position: relative;
  padding: .5rem .5rem;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border: none;
  border-radius: .2rem;
  /* box-shadow: 0 .5rem 0 0rem rgb(255, 184, 196), 0rem 1rem 10px 0px grey; */
  box-shadow: 0 .5rem 0 0rem rgb(255, 184, 196);
  /* use as base transition property */
  /* transition: all .1s  ease-out, opacity .2s .25s ease; */
  /* border-radius: 1rem; */
}



.primary-button,
.primary-button:active {
  outline: none;
}


.primary-button:disabled,
.primary-button.selected {
  box-shadow: 0rem 0rem 2px 0px grey;
  transform: translateY(.5rem);
  opacity: 0;
  /* height: 0; */
}

/* .primary-button:active {
  box-shadow: inset 0 0 5px 1px;
} */

/***********************************
==========Custom Components=========
************************************/

.login-overlay {

  /* backdrop-filter: blur(4px); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .4s ease;
  opacity: 0;
  transform: translateY(100%);
  z-index: 2;
}

.login-overlay h2,
.login-overlay p ,
.login-overlay a{
  color: white;
}

.login-overlay::before {
  background-color: rgba(41,41,41,.99);
  position: absolute;
  content: '';
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  /* filter:blur(5rem); */
  z-index: -1;
}

.login-overlay.show{
  opacity: 1;
  transform: translateY(0);
}

.form-group {
  margin: 2rem;
}

input[type='number'] {
  background: none;
  border: none;
}

label {
  padding: .5rem;
  background-color: white;
  border-radius: .5rem;
  margin: .25rem;
}

.roulette-board {
  background-color: rgba(255, 147, 89,1);
  border-radius: 50%;
  padding: 1rem;
  max-width: 50px;
}

.aid-filters button {
  background: white;
  border: none;
  border-radius: 5rem;
  padding: .25rem .5rem;
  font-size: .6rem;
}

.aid-filters li + li {
  margin-left: .5rem;
}

.search {
  padding: 0 1rem;
}

.search form {
  background-color: white;
  width: 100%;
  padding: .5rem 1rem .5rem 1.5rem;
  margin: 0 auto;
  border-radius: 2rem;
}

.search input,
.search button {
  background: none;
  border: none;
}

.search button {
  width: 1rem;
  padding: 0;
}

.food-card {
  width: 10rem;
  height: 12rem;
  background: linear-gradient(-45deg,  #C6344D 2%  , #E28471 80% );
  border-radius: 2rem;
  color: white;
  padding: 1.75rem 1rem 1rem 1rem;
  position: relative;
}

.food-card .category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  box-shadow: 0 5px 10px 0 rgba(41,41,41,.5);
  position: absolute;
  top: -1rem;
  left:50%;
  transform: translateX(-50%);
}

.food-expiration {
  font-size: .75rem;
}

.veggie {
  background-color: #38B773;
}

.fruit {
  background-color: red;
}

.grain {
  background-color: grey;
}

.food-card .category-image {
  width: 1rem;
}

/************************
==========States=========
*************************/

.hidden,
.hide {
  display:none;
}

.icon {
  transition: transform .2s cubic-bezier(.42,.87,.53,1.68);
}

.icon:hover {
  transform: translateY(-5px)  scale(1.2);
}
